.main-song-wrapper-unique {
  max-width: 650px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 930px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.main-song-container-unique {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  /* Ensure full width */
  color: white;
}

.main-song-details-unique {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 40%;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.main-song-cover-unique {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.song-info-unique {
  align-self: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.song-name-unique {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px 0;
  letter-spacing: 0.5px;
}

.song-artist-unique {
  font-size: 1rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.3px;
}

/* Customizing the Audio Player Controls */
.rhap_container {
  width: 100% !important;
  background: transparent !important;
  box-shadow: none !important;

}

.rhap_main-controls-button {
  color: white !important;
  /* White color for buttons */
}

/* Adjusting the play/pause button */
.rhap_play-pause-button {
  font-size: 2.5rem !important;
  /* Larger play/pause button */
}

.rhap_play-pause-button:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  /* Slightly lighter color on hover */
}

/* Volume bar styling */
.rhap_volume-bar {
  background-color: white !important;
  /* Lighter volume bar */
}


/* Optional: Styling the volume control icon */
.rhap_volume-button {
  color: white !important;
}

.rhap_volume-button:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  /* Slightly lighter color on hover */
}

/* Styling the audio seeker to take the full width */
.rhap_progress-bar {
  width: 100% !important;
  background: white !important;
  /* Lighter background for progress bar */
}

.rhap_progress-bar-background {
  width: 100% !important;
  background-color: white !important;
  /* Dark background for progress bar */
}


.rhap_progress-indicator,
.rhap_current-time,
.rhap_time,
.rhap_total-time,
.rhap_loop-button,
.rhap_additional-controls {
  display: none !important;
}

.audio-player-class {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distributes elements evenly */
  gap: 10px;
}

.rhap_main-controls {
  justify-content: space-evenly;
}

.rhap_volume-indicator {
  size: 22px !important;
  width: 10px !important;
  height: 10px !important;
  /* display: none !important; */
  background: white;
}

.rhap_progress-container {
  margin-left: 0px !important;
  width: 100%;
  margin: -10px;
  ;
}

.rhap_main-controls {
  gap: 20px;
}

.rhap_menu-button {
  width: 35px;
  height: 35px;
  background: rgba(200, 200, 200, 0.3);
  /* Light grey with transparency */
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 20px;
  /* Pushes the button to the end */
}

